<!--begin::Products-->
<div class="card card-flush">
    <!--begin::Card header-->
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <!--begin::Card title-->
        <div class="card-title gap-2">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-4">[(${@theme.getSvgIcon('duotune/general/gen021.svg', 'svg-icon svg-icon-2')})]</span>
                <!--end::Svg Icon-->
                <input type="text" data-kt-ecommerce-order-filter="search"
                       class="form-control form-control-solid w-250px ps-14" placeholder="Pretraži po korisniku"/>
            </div>
            <!--end::Search-->
            <!--begin::Flatpickr-->
            <div class="input-group w-250px">
                <input class="form-control form-control-solid rounded rounded-end-0" placeholder="Odaberi raspon datuma"
                       id="kt_ecommerce_sales_flatpickr"/>
                <button class="btn btn-icon btn-light" id="kt_ecommerce_sales_flatpickr_clear">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr088.svg-->
                    <span class="svg-icon svg-icon-2">[(${@theme.getSvgIcon('duotune/arrows/arr088.svg', 'svg-icon svg-icon-2')})]</span>
                    <!--end::Svg Icon-->
                </button>
            </div>
            <!--end::Flatpickr-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_attendance_table">
            <!--begin::Table head-->
            <thead>
            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                <th>ID</th>
                <th class="min-w-100px">NFC UID</th>
                <th class="min-w-200px">Korisnik</th>
                <th class="min-w-100px">Grupa</th>
                <th class="min-w-100px">Vrijeme dolaska</th>
                <th class="text-end">Akcije</th>
            </tr>
            <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="fw-semibold text-gray-600">
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
        <div class="temp-result-body"></div>
    </div>
    <!--end::Card body-->
</div>
<!--end::Products-->