<!--begin::Products-->
<div class="card card-flush">
    <!--begin::Card header-->
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <!--begin::Card title-->
        <div class="card-title gap-2 justify-content-between flex-grow-1">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-4">[(${@theme.getSvgIcon('duotune/general/gen021.svg', 'svg-icon svg-icon-2')})]</span>
                <!--end::Svg Icon-->
                <input type="text" data-kt-ecommerce-order-filter="search"
                       class="form-control form-control-solid w-250px ps-14" placeholder="Pretraži po imenu"/>
            </div>
            <!--end::Search-->
            <div>
                <a href="#" class="add-group-btn btn btn-primary" title="Dodaj korisnika" data-bs-toggle="modal" data-bs-target="#kt_modal_user">
                    [(${@theme.getSvgIcon('duotune/arrows/arr075.svg', 'svg-icon svg-icon-2')})]
                    Dodaj korisnika
                </a>
            </div>
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_user_table">
            <!--begin::Table head-->
            <thead>
            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                <th>ID</th>
                <th class="min-w-100px">NFC UID</th>
                <th class="min-w-200px">Ime i prezime</th>
                <th class="min-w-100px">Grupa</th>
                <th class="text-end min-w-100px">Akcije</th>
            </tr>
            <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="fw-semibold text-gray-600">
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
        <div class="temp-result-body"></div>
    </div>
    <!--end::Card body-->
</div>
<!--end::Products-->