<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
	<!--end::Quick links-->
	<!--begin::Theme mode-->
	<div class="app-navbar-item ms-1 ms-lg-3">
		<div th:replace="partials/theme-mode/_main.html"></div>
	</div>
	<!--end::Theme mode-->
	<!--begin::User menu-->
	<div class="app-navbar-item ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
		<!--begin::Menu wrapper-->
		<div class="cursor-pointer symbol symbol-35px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
			<img src="assets/media/avatars/300-1.jpg" alt="user" />
		</div>
		<!--end::Menu wrapper-->
	</div>
</div>
<!--end::Navbar-->