<html lang="en" data-theme="dark" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{${@theme.getView(@settings.getDefaultLayout())}}" >
<head>
    <title>Dolasci</title>
</head>
<body>
<div layout:fragment="content">
    <!--begin::Row-->
    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
        <!--begin::Col-->
        <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-md-5 mb-xl-10">
            <div th:replace="partials/widgets/attendance_datatable.html"></div>
        </div>
        <!--end::Col-->
    </div>
    <div>
        <div th:replace="partials/modals/user_crud.html"></div>
    </div>
</div>
</body>
</html>